<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RhdMessageDataMapper">
    
    <resultMap type="RhdMessageData" id="RhdMessageDataResult">
        <result property="messageId"    column="message_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="status"    column="status"    />
        <result property="extend1"    column="extend1"    />
        <result property="extend2"    column="extend2"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="messageContent"    column="message_content"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
    </resultMap>

    <sql id="selectRhdMessageDataVo">
        select message_id, create_by, create_time, update_by, update_time, remark, del_flag, status, extend1, extend2, phone_number, message_content, project_id, project_name from rhd_message_data
    </sql>

    <select id="selectRhdMessageDataList" parameterType="RhdMessageData" resultMap="RhdMessageDataResult">
        <include refid="selectRhdMessageDataVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="extend1 != null  and extend1 != ''"> and extend1 = #{extend1}</if>
            <if test="extend2 != null  and extend2 != ''"> and extend2 = #{extend2}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="messageContent != null  and messageContent != ''"> and message_content = #{messageContent}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
        </where>
    </select>
    
    <select id="selectRhdMessageDataByMessageId" parameterType="Long" resultMap="RhdMessageDataResult">
        <include refid="selectRhdMessageDataVo"/>
        where message_id = #{messageId}
    </select>
        
    <insert id="insertRhdMessageData" parameterType="RhdMessageData" useGeneratedKeys="true" keyProperty="messageId">
        insert into rhd_message_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="status != null">status,</if>
            <if test="extend1 != null">extend1,</if>
            <if test="extend2 != null">extend2,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="messageContent != null">message_content,</if>
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null">project_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="extend1 != null">#{extend1},</if>
            <if test="extend2 != null">#{extend2},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="messageContent != null">#{messageContent},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
         </trim>
    </insert>

    <update id="updateRhdMessageData" parameterType="RhdMessageData">
        update rhd_message_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="extend1 != null">extend1 = #{extend1},</if>
            <if test="extend2 != null">extend2 = #{extend2},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="messageContent != null">message_content = #{messageContent},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <delete id="deleteRhdMessageDataByMessageId" parameterType="Long">
        delete from rhd_message_data where message_id = #{messageId}
    </delete>

    <delete id="deleteRhdMessageDataByMessageIds" parameterType="String">
        delete from rhd_message_data where message_id in 
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>

</mapper>