<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人员管理列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>姓名：</label>
                            <input type="text" name="sName"/>
                        </li>
                        <li>
                            <label>身份证：</label>
                            <input type="text" name="sCard"/>
                        </li>
                        <li>
                            <label>性别：</label>
                            <select name="sSex" th:with="type=${@dict.getType('sys_user_sex')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="state" th:with="type=${@dict.getType('data_state')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>银行卡号：</label>
                            <input type="text" name="bankCard"/>
                        </li>
                        <li>
                            <label>开户行：</label>
                            <input type="text" name="openingBank"/>
                        </li>
                        <li>
                            <label>推荐人：</label>
                            <input type="text" name="referrer"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:salesman:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:salesman:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:salesman:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:salesman:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:salesman:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:salesman:remove')}]];
    var depositFlag = [[${@permission.hasPermi('system:hhSalesman:deposit')}]];
    var sSexDatas = [[${@dict.getType('sys_user_sex')}]];
    var stateDatas = [[${@dict.getType('data_state')}]];
    var prefix = ctx + "system/salesman";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "人员管理",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '主键ID',
                    visible: false
                },
                {
                    field: 'sName',
                    title: '姓名'
                },
                {
                    field: 'sCard',
                    title: '身份证'
                },
                {
                    field: 'sSex',
                    title: '性别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sSexDatas, value);
                    }
                },
                {
                    field: 'state',
                    title: '状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(stateDatas, value);
                    }
                },
                {
                    field: 'bankCard',
                    title: '银行卡号'
                },
                {
                    field: 'openingBank',
                    title: '开户行'
                },
               /* {
                    field: 'address',
                    title: '地址'
                },*/
                {
                    field: 'phone',
                    title: '联系方式'
                },
                {
                    field: 'balance',
                    title: '卡内余额'
                    /*formatter: function(value, row, index) {
                        return row.balance+"元";
                    }*/
                },
                {
                    field: 'referrer',
                    title: '推荐人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');

                        /*actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');*/
                        /*actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="salesmanExpend(\'' + row.id + '\')"><i class="fa fa fa-edit"></i>取钱</a> ');
*/
                        actions.push('<a class="btn btn-danger btn-xs ' + depositFlag + '" href="javascript:void(0)" onclick="salesmanDeposit(\'' + row.id + '\')"><i class="fa fa-plus"></i>存款</a>');


                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /* 取款 */
    function salesmanExpend(id) {
        var url = prefix + '/salesmanExpend/' + id;
        $.modal.open("营销员取款", url, '800', '600');
    }

    /* 存入 */
    function salesmanDeposit(id) {
        var url = prefix + '/salesmanDeposit/' + id;
        $.modal.open("营销员存钱", url, '800', '600');
    }
</script>
</body>
</html>